.skills-container{
    display: flex;
    justify-content: center; 
    margin-top: 10vh;
}

.icon-container{
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-top: 5vh;
}