.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* drop height: 10%; */
    padding: 1rem;
    display: flex;
    align-items: center;
    /* vertically center everything */
    justify-content: space-between;
    box-sizing: border-box;
    /* include padding in your width */
    background-color: #333;
    color: #fff;
    z-index: 1000;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1.25rem;
    /* 20px ≃ 1.25rem */
    margin: 0;
    /* kill that margin-top */
    align-items: center;
    /* just in case */
}


.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.nav-links a:hover {
    color: #ff0202;
}

.nav-logo {
    height: 5vh;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
    overflow: hidden;
    position: relative;
}

/* Falling Animation */
.falling-text {
    display: inline-block;
    opacity: 0;
    animation: fallIn 2s ease forwards;
}

@keyframes fallIn {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@media (max-width: 640px) {
    .navbar {
        justify-content: center;
        /* Center align navbar content */
    }

    .nav-logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        /* Center logo horizontally */
    }

    .nav-links {
        display: none;
        /* Hide nav links */
    }
}