.slideshow-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    margin-top: 5vh;
}

.slideshow {
    position: relative;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.proj-exp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.slideshow-metadata {
    flex: 1;
    margin-left: 40px;
}

.proj-exp img {
    width: 60%;
    border-radius: 1vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.proj-exp-buttons {
    margin-top: 20px;
}

.proj-exp-button {
    background-color: var(--brown-university-red);
    color: white;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
    transition: background-color 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.proj-exp-button:hover {
    background-color: #c51b21;
}

.github-button {
    background-color: #676767;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.github-button:hover {
    background-color: #444;
}

.arrow {
    background-color: #ffffff00;
    border-radius: 50%;
    border: none;
    color: #636363;
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    transform: translateY(-50%);
    z-index: 2;
    height: auto;
    width: 7vh;
}

.left-arrow {
    left: 10px;
}

.right-arrow {
    right: 10px;
}

.arrow:hover {
    color: #ED1C24;
}

/* Responsive Design */
@media (max-width: 800px) {
    .proj-exp {
        flex-direction: column;
        align-items: flex-start;
    }

    .proj-exp img {
        width: 100%;
        margin-bottom: 20px;
    }

    .slideshow-metadata {
        width: 100%;
        margin-left: 0;
    }
    .arrow {
        background-color:#44444400;
        transform: translateY(-50%);
        z-index: 2;
        width: 3vh;
        font-size: 1rem;
    }
    .left-arrow {
        left: -10px;
    }
    .right-arrow {
        right: -10px; 
    }
    .arrow:hover {
        color: #ED1C24;
        background-color:#44444400;
    }
    .proj-exp-button {
        margin: 5px;
        font-size: 10px;
    }
}