:root {
    --brown-university-red: #ED1C24;
}

.headshot-container {
    display: inline-block;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
    margin: 5vh;
    width: 60%;
}
.headshot {
    width: 100%;
    border-radius: 15px;
}
.bio-container {
    width: 33.33%;
    text-align: center;
    color: #fff;
}

.resume button {
    padding: 0.8em 1.8em;
    border: 2px solid var(--brown-university-red);
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: 0.3s;
    z-index: 1;
    font-family: inherit;
    color: var(--brown-university-red);
}

.resume button::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: var(--brown-university-red);
    transition: 0.5s ease;
    display: block;
    z-index: -1;
}

.resume button:hover::before {
    width: 105%;
}

.resume button:hover {
    color: #111;
}

@media (max-width: 800px) {
    .resume button {
        font-size: 13px;
    }

    .bio-container {
        width: 80%;
    }
}